<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Excel to Database</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <% if (session.message) { %>
    <p><%= session.message %></p>
    <% session.message = null; %>
    <% } %>
    <h3 style="text-align:center;">Upload excel file below</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".xls,.xlsx" required />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
